@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto:wght@300;400&display=swap");
$fontfamily: "Roboto";
@import "nullstyle.scss";
@import "mixins.scss";

body.lock {
   overflow: hidden;
}
.wrapper {
   overflow: hidden;
   min-height: 100%;
}
.container {
   max-width: 1230px;
   padding: 0px 15px;
   margin: 0 auto;
}

.page {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   @include flexbox();
   @include flex-direction($direction: column);
}
.main-screen {
   flex: 1 1 100%;
   position: relative;
}
//Применение класса "ibg"
.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   img {
      display: none;
   }
}
/*--------------------*/
.item-main-screen {
   position: relative;
   text-align: center;
   padding: 140px 0px 230px 0px;
   &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
   }
   &__content {
      position: relative;
      z-index: 2;
   }
   &__title {
      color: #ffffff;
      font-family: "Kaushan Script";
      font-size: 72px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-transform: capitalize;
   }
   &__text {
      color: #ffffff;
      font-family: "Montserrat";
      font-size: 150px;
      font-weight: 700;
      max-width: 800px;
      font-style: normal;
      letter-spacing: normal;
      line-height: 140px;
      text-transform: uppercase;
      margin: 50px auto;
      &::after {
         content: "";
         height: 3px;
         background: #ffffff;
         display: block;
         width: 60px;
         height: 3px;
         margin: 60px auto 0px auto;
      }
   }
   &__button {
      display: inline-block;
      font-size: 14px;
      border: 3px solid #ffffff;
      background-color: transparent;
      color: #ffffff;
      font-family: Montserrat;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-transform: uppercase;
      padding: 15px 30px;
   }
}
.header {
   position: absolute;
   width: 100%;
   z-index: 4;
   &__row {
      @include flexbox();
      height: 85px;
      justify-content: space-between;
      align-items: center;
   }
}

.header__logo {
   z-index: 10;
   a {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
   }
}
.menu {
   &__list {
      @include flexbox();
      li {
         padding: 0px 29px;
         display: inline-block;
         &::after {
            content: "";
            height: 3px;
            background: #fce38a;
            display: block;
            transition: width 0.3s ease-in-out;
            margin: 0 auto;
            width: 0%;
         }
         &:hover,
         &:active {
            color: #fce38a;
         }
         &:hover::after,
         &:active::after {
            width: 100%;
         }
         &:last-child {
            padding: 0px 0px 0px 29px;
         }
      }
   }
   &__link {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
   }
   @media (max-width: 1024px) {
      &__body {
         position: fixed;
         width: 100%;
         height: 100%;
         top: -100%;
         left: 0;
         background-color: #95e1d3;
         padding: 80px 0px 0px 0px;
         transition: top 0.3s ease-in-out;
         &.active {
            top: 0;
            transition: top 0.3s ease-in-out;
            overflow: auto;
         }
      }
      &__link {
         color: #333333;
         font-size: 20px;
      }
      &__list {
         @include flex-direction($direction: column);
         justify-content: center;
         align-items: center;
      }
      li {
         padding: 0px 0px 30px 0px;
         &:last-child {
            padding: 0px;
         }
      }
   }
}
//icon-menu
@media (max-width: 1024px) {
   .icon-menu {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      span,
      &::before,
      &::after {
         left: 0;
         position: absolute;
         height: 10%;
         width: 100%;
         transition: all 0.3s ease 0s;
         background-color: #fff;
      }
      &::before,
      &::after {
         content: "";
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: 50%;
         @include transform(scale(1) translate(0px, -50%));
      }
      &.active span {
         @include transform(scale(0));
      }
      &.active::before {
         top: 50%;
         @include transform(rotate(-45deg) translate(0px, -50%));
      }
      &.active::after {
         bottom: 50%;
         @include transform(rotate(45deg) translate(0px, 50%));
      }
   }
}

.pagin-bg {
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 0;
   padding: 25px 0px;
   &__block {
      cursor: pointer;
      @include flexbox();
      @include flex-direction($direction: row);
      justify-content: space-between;
      align-items: center;
   }
   &__element {
      opacity: 0.7;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      text-align: left;
      text-transform: uppercase;
      width: calc(100% / 4 - 30px);
      b {
         font-size: 24px;
         font-weight: 700;
      }
      &::before {
         content: "";
         width: 100%;
         height: 3px;
         background-color: #ffffff;
         opacity: 0.5;
         margin: 0px 0px 25px 0px;
         display: block;
      }
   }
}
.content {
}
.about {
   padding: 90px 0px;
   &__block {
   }
}
.block {
   text-align: center;
   &__subtitle {
      color: #333333;
      font-family: "Kaushan Script";
      font-size: 24px;
      font-weight: 400;
      padding: 0px 0px 20px 0px;
   }
   &__title {
      color: #333333;
      font-family: Montserrat;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      &::after {
         content: "";
         width: 60px;
         height: 3px;
         background-color: #f38181;
         margin: 40px auto 47px;
         display: block;
      }
   }
   &__text {
      color: #999999;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 24px;
   }
}
.gallery {
   @include flexbox();
   justify-content: space-between;
   align-items: center;
   padding: 100px 0px 10px 0px;
   margin: 0px -15px;
   flex-wrap: wrap;
   &__item {
      flex: 0 1 33.333%;
      padding: 0px 15px;
      position: relative;
      display: block;
      // &:hover:after {
      //    content: "";
      //    display: block;
      //    width: calc(100% - 30px);
      //    margin: 0px 15px;
      //    height: 100%;
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      //    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
      //    @include transform(translate(-10px, -10px));
      //    //transition: all 0.3s ease-in-out;
      // }
   }

   img {
      width: 100%;
      height: auto;
      display: block;
      cursor: pointer;
      @include transform(translate(0px, 0px));
      transition: all 0.3s ease-in-out;
   }
}

.item__bg {
   display: none;
   @include transform(translate(0px, 0px));
}
.gallery__item.active img,
.gallery__item.active .item__bg {
   @include transform(translate(-10px, -10px));
   //transition: all 0.3s ease-in-out;
}
.gallery__item.active .item__bg {
   transition: all 0.3s ease-in-out;
   display: block;
   position: absolute;
   width: calc(100% - 30px);
   margin: 0 15px;
   top: 0;
   left: 0;
   height: 100%;
   background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.footer {
   &__row {
   }
}
